<div id="overlay">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{formName}}</h5>
                <button type="button" class="close" @click="closeWindow">
                    <span aria-hidden="true">
                        &times;
                    </span>
                </button>
            </div>
            <div class="modal-body p-4">
                <form @submit="formSubmit">
                    <div class="form-group">
                        <input type="text" v-model="title" name="title" class="form-control form-control-lg" placeholder="Title"/>
                    </div>
                    <div class="form-group">
                        <textarea type="text" v-model="content" name="content" class="form-control form-control-lg" placeholder="Content"></textarea>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <select class="selectpicker form-control" v-model="currentStatusId">
                                    <option :selected="status.id === currentStatusId" v-for="status in statuses" :value="status.id">{{status.status}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="text" name="tags" v-model="tags" class="form-control form-control-lg" placeholder="Tags"/>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-info btn-block btn-lg" placeholder="Tags">{{formName}}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>